<ion-header class="cabecera-140h" style="background-color: var(--color-quinto);">
  <img class="logo" src="assets/icon/logoBlancoInicio.png" alt="logoBlancoInicio.png">
  <ion-toolbar class="cabecera-toolbar">
    <ion-title class="cabecera-toolbar-titulo">
      <b>Anuncios</b>
      <img src="assets/icon/iconNotification.png"  alt="iconNotification.png" style="width: 17.9pt; height: 21.02pt; float: right;" >
    </ion-title>
    <ion-searchbar class="cabecera-toolbar-searchbar" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content class="flexbox-cards">

  <ion-card class="card-vertical" (click)="producto()">
    <img class="like" src="assets/icon/likeGrey.png">
    <img class="miniatura" src="">
    <ion-card-header>
      <ion-card-title class="titulo"><b>TV en descuento</b></ion-card-title>
      <ion-card-title class="costo"><b>$ 15,000</b></ion-card-title>
      <ion-card-title class="descripcion">TV LG con gran defini…</ion-card-title>
    </ion-card-header>
    <ion-label class="tiempo">Hace 3 días</ion-label>
  </ion-card>

</ion-content>
