div.formulario{
    padding: 36pt 36pt;
        
    div.elemento{
        margin-block-end: 24pt;

        ion-label{
            --color: black;
            font-size: 16pt;
        }
    
        ion-item{
            --border-radius: 5pt;
            --background: #F4F4F4;
            opacity: 100%;
            height: 45pt;
            margin-top: 8pt;

            ion-input{
                width: 100%;
                height: 45pt;
            }

            ion-label{
                font-size: 14pt;
                color: #707070;
            }
            
            ion-select{
                width: 100%;
                height: 45pt;
            }
        }
    }
    
    ion-button{
        --border-radius: 0pt;
        --background: var(--color-segundo);
        --background-activated: var(--color-segundo);
        --background-focused : var(--color-segundo);
        --background-hover: var(--color-segundo);
        color: #FFFFFF;
        width: 118pt;
        height: 36pt; 
        font-size: 16pt;
        margin-block-start: 10pt;
        display: block;
        margin: 0 auto;
    }
}
