<ion-header class="cabecera-90h" style="background-color: var(--color-cuarto);">
  <img class="logo" src="assets/icon/logoBlancoInicio.png" alt="logoBlancoInicio.png">
  <ion-toolbar class="cabecera-toolbar">
    <ion-title class="cabecera-toolbar-titulo" style="font-size: 18pt;">
      <ion-icon name="arrow-dropleft" style="float: left;" (click)="volver()"></ion-icon>
      <b>2015 Land Rover</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #F4F4F4;">

  <div style="background: white;">
    <img class="imagen" src="assets/icon/photoEjemplo.png" alt="photoEjemplo.png">

    <div class="contenido">
      <ion-label style="font-size: 18pt; color: black;">
        <b>2015 Land Rover</b>
        <p style="font-size: 12pt; color: red; float: right;">Reportar</p>
      </ion-label>
    </div>
  
    <div class="horizontal-line"></div>
  
    <div class="contenido" style="height: 20pt;">
      <ion-label style="font-size: 14pt; color: black; float: left;">$445,000</ion-label>
      <ion-label style="font-size: 14pt; color: #707070; float: right;">MXN</ion-label>
    </div>
  
    <div class="horizontal-line"></div>
  
    <div class="contenido">
      <p style="font-size: 14pt;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="boton">
        <ion-button class="contactar">Contactar al Vendedor</ion-button> 
    </div>

  </div>

  <div class="boton">
    <ion-button class="compartir">Compartir</ion-button>   
  </div>

</ion-content>

  