<ion-header class="cabecera-140h" style="background-color: var(--color-primero);">
  <img class="logo" src="assets/icon/logoBlancoInicio.png" alt="logoBlancoInicio.png">
  <ion-toolbar class="cabecera-toolbar">
    <ion-title class="cabecera-toolbar-titulo">
      <b>Favoritos</b>
      <img src="assets/icon/iconNotification.png"  alt="iconNotification.png" style="width: 17.9pt; height: 21.02pt; float: right;" >
    </ion-title>
    <ion-searchbar class="cabecera-toolbar-searchbar" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="flexbox-cards" >

  <!--Card para Eventos-->
  <ion-card class="card-vertical">
    <img class="like" src="assets/icon/likeTercero.png">
    <img class="miniatura" src="">
    <ion-card-header>
      <ion-card-title class="titulo"><b>Clase Torah</b></ion-card-title>
      <ion-card-title class="tipo">Evento</ion-card-title>
      <ion-card-title class="horario-evento"><b>Viernes 29 nov 19 10:30 am</b></ion-card-title>
      <ion-card-title class="descripcion-evento">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!--Card para Productos-->
  <ion-card class="card-vertical">
    <img class="like" src="assets/icon/likeCuarto.png">
    <img class="miniatura" src="">
    <ion-card-header>
      <ion-card-title class="titulo"><b>Vendo Peluca</b></ion-card-title>
      <ion-card-title class="tipo">Producto</ion-card-title>
      <ion-card-title class="precio-producto"><b>$700</b></ion-card-title>
      <ion-card-title class="descripcion">Vendo peluca wash and wear</ion-card-title>
    </ion-card-header>
    <ion-label class="tiempo">Hace 3 meses</ion-label>
  </ion-card>

  <!--Card para Promoción-->
  <ion-card class="card-vertical" (click)="producto()">
    <img class="like" src="assets/icon/likeQuinto.png">
    <img class="miniatura" src="">
    <ion-card-header>
      <ion-card-title class="titulo"><b>TV en descuento</b></ion-card-title>
      <ion-card-title class="tipo">Promoción</ion-card-title>
      <ion-card-title class="costo"><b>$ 15,000</b></ion-card-title>
      <ion-card-title class="descripcion">TV LG con gran defini…</ion-card-title>
    </ion-card-header>
    <ion-label class="tiempo">Hace 3 días</ion-label>
  </ion-card>

</ion-content>
