ion-content{
    --background: #F4F4F4;
    --padding-top: 26pt;
}

ion-segment-button{
    --background: var(--color-segundo);
    --padding-bottom: 0pt;
    --padding-end: 0pt;
    --padding-start: 0pt;
    --padding-top: 0pt;
}