<!--<ion-header>
  <ion-toolbar>
    <ion-title>bienvenido</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content (click)="continuar()">

  <p class="texto1">Hola Usuario</p>
  
  <p class="texto2"><b>Bienvenido a</b></p>
  
  <img class="logo-principal" src="assets/icon/logoBlancoInicio.png" alt="logoBlancoInicio.png">
  
  <p class="parrafo">
    Te informamos que tu registro ha sido exitoso, te invitamos a esperar la verificación de tus datos, en las siguientes 12 horas recibirás un correo donde tendrás noticias sobre tu cuenta para que puedas iniciar sesión.
  </p>

  <p class="texto3">¿Tienes alguna duda?</p>

  <div style="display: table; margin: auto;">
    <p class="texto4"><img src="assets/icon/iconPhone.png" alt="iconPhone.png" style="width: 12.15pt; height: 12.15pt;">&nbsp;<u>55 5555 5555</u></p>
    <p class="texto4"><img src="assets/icon/iconMail.png" alt="iconMail.png" style="width: 12.53pt; height: 9.4pt;">&nbsp;<u>info@yesh.com.mx</u></p>    
  </div>

</ion-content>
