<ion-header class="cabecera-90h" style="background-color: var(--color-quinto);">
  <img class="logo" src="assets/icon/logoBlancoInicio.png" alt="logoBlancoInicio.png">
  <ion-toolbar class="cabecera-toolbar">
    <ion-title class="cabecera-toolbar-titulo" style="font-size: 18pt;">
      <ion-icon name="arrow-dropleft" style="float: left;" (click)="volver()"></ion-icon>
      <b>TV en Descuento</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="imagen" src="">
  <ion-button class="guardar">Guardar imagen</ion-button>

</ion-content>
