<ion-tabs >

  <ion-tab-bar #myTabBar id="myTabBar" slot="bottom">

    <ion-tab-button tab="inicio">
      <img src="assets/icon/noun_Home_2749378.png"  alt="noun_Home_2749378.png" style="width: 33.11pt; height: 32.54pt;">
      <ion-label>INICIO</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="chats">
      <img src="assets/icon/noun_message_965440.png"  alt="noun_message_965440.png" style="width: 32.69pt; height: 28.73pt;">
      <ion-label>CHATS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoritos">
      <img src="assets/icon/noun_Heart.png"  alt="noun_Heart_2988283.png" style="width: 32pt; height: 28.44pt;">
      <ion-label>FAVS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <img src="assets/icon/iconProfile.png"  alt="iconProfile.png" style="width: 29.41pt; height: 33.66pt;">
      <ion-label>PERFIL</ion-label>
    </ion-tab-button>  

  </ion-tab-bar>
  
</ion-tabs>