<ion-header class="cabecera-90h" style="background-color: var(--color-tercero);">
  <img class="logo" src="assets/icon/logoBlancoInicio.png" alt="logoBlancoInicio.png">
  <ion-toolbar class="cabecera-toolbar">
    <ion-title class="cabecera-toolbar-titulo" style="font-size: 18pt;">
      <ion-icon name="arrow-dropleft" style="float: left;" (click)="volver()"></ion-icon>
      <b>Clases</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="filtro">
  <ion-select placeholder="Filtrar Por" name="filtro">
      <ion-select-option value="clases">Clases</ion-select-option>
      <ion-select-option value="conferencias">Conferencias</ion-select-option>
      <ion-select-option value="seminario">Seminario</ion-select-option>
      <ion-select-option value="viajes">Viajes</ion-select-option>
      <ion-select-option value="torneos">torneos</ion-select-option>
      <ion-select-option value="rifas">rifas</ion-select-option>
      <ion-select-option value="talleres">talleres</ion-select-option>
  </ion-select>
</div>

<ion-content class="flexbox-cards">
    
  <ion-card class="card-horizontal" (click)="informacion()">
    <img class="like" src="assets/icon/likeGrey.png">
    <img class="miniatura" src="">
    <ion-card-header>
      <ion-card-title class="titulo"><b>Clase Torah</b></ion-card-title>
      <ion-card-title class="horario"><b>Viernes 29 nov 19 10:30 am</b></ion-card-title>
      <ion-card-title class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/icon/iconPhoneAzul.png" alt="iconPhone.png" style="width: 12.15pt; height: 12.15pt;">
      <img src="assets/icon/iconLocationAzul.png" alt="iconLocationAzul.png" style="width: 8.99pt; height: 12.3pt;">
    </ion-card-content>
  </ion-card>

</ion-content>
