<ion-header class="cabecera-90h" style="background-color: var(--color-tercero);">
  <img class="logo" src="assets/icon/logoBlancoInicio.png" alt="logoBlancoInicio.png">
  <ion-toolbar class="cabecera-toolbar">
    <ion-title class="cabecera-toolbar-titulo" style="font-size: 18pt;">
      <ion-icon name="arrow-dropleft" style="float: left;" (click)="volver()"></ion-icon>
      <b>Clase Torah</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #F4F4F4;">

  <div style="background: white;">
    <img class="imagen" src="">

    <div class="contenido" style="height: 63pt;">
      <ion-label style="font-size: 18pt; color: black;"><b>Clase Torah</b><p style="font-size: 12pt; color: red; float: right;">Reportar</p></ion-label>
      <br><br>
      <ion-label style="font-size: 16pt;">
        Viernes 19 nov 
        <br>
        10:30 am
      </ion-label>
    </div>
  
    <div class="horizontal-line"></div>
  
    <div class="contenido" style="height: 20pt;">
      <ion-label style="font-size: 14pt; color: #707070; float: left;">Categoría</ion-label>
      <ion-label style="font-size: 14pt; color: black; float: right;">Clases</ion-label>
    </div>
  
    <div class="horizontal-line"></div>
  
    <div class="contenido">
      <p style="font-size: 14pt;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  
    <div class="horizontal-line"></div>
  
    <div class="contenido">
  
      <div class="contacto">
        <p>
          <img src="assets/icon/iconLocationAzul.png" alt="iconLocationAzul.png" style="width: 12.31pt; height: 20pt; float: left;">
          <u>HOMERO 1604, COL. POLANCO, MIGUEL HIDALGO,D.F., C.P. 11560</u>
        </p>
      </div>
      
    </div>
  </div>

  <div class="boton">
    <ion-button class="compartir">Compartir</ion-button>   
  </div>

</ion-content>

