img.imagen{
    width: 100%;
    height: 169pt;
    background: grey;
}

ion-item{
    --border-color: var(--color-tercero);
}


div.horizontal-line{
    display: block;
    background-color: var(--color-tercero);
    height: 1px; 
    width: 100%;
}

div.contenido{ 
    margin: 10.5pt 20pt; 
}

div.contacto{

    img{
        margin-right: 14.36pt;
        float: left;
        width: 15.64pt; 
        height: 15.64pt;
    }
    
    u{
        font-size: 14pt;
    }

}


div.boton{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-button.compartir{
        color: #FFFFFF;
        --border-radius: 0pt;
        --background: #FF7F00;
        --background-activated: #FF7F00; 
        --background-focused : #FF7F00;
        --background-hover: #FF7F00;
        width: 102pt;
        height: 26pt; 
        font-size: 12pt;
        text-align: center;
        margin: 28pt 0pt;
    }
}

